*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    min-height: 60vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    text-decoration: none;
    color: white;
    font-size: none;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    font-size: 14px;
    margin: 10px 0px 40px;
    color: bisque;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid salmon;
    background: salmon;
    transition: 1s;
}
.initial-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.initial-button:hover{
    border: 1px solid salmon;
    background: salmon;
    transition: 1s;
}

/*-----------Features --------*/

.features{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.feature-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.feature-column{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.feature-column:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*--------- Utilities ---------*/
.utilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

/*---------Footer------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/*------form submission------*/

.form-submission{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

/*------Feedback------*/

.feedback{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

/*------about us page css ------*/
.aboutus{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-colomn{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-colomn img{
    width: 100%;
}

/* ---------- contact us page css ---------*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: orangered;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

/*----------- service page css----------*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col a{
    text-decoration: none;
}
/*.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}*/
.facilities-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.facilities-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}